@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Peepo";
  src: url("/fonts/Peepo.ttf") format("ttf");
  /* You can include additional font formats (e.g., 'ttf', 'eot', 'svg') if needed */
  /* src: url('/custom-font.woff') format('woff'),
         url('/custom-font.ttf') format('truetype'); */
  /* Add other font properties as needed (e.g., font-weight, font-style) */
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
